/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #d7f301;
    font-size: 10px;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Estilo para o container */
.container {
    padding: 0px;
    max-width: 100%;
    margin: 0 auto;
}
/* Remoção das setas do input */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Estilo para os headers */
.section-header h1 {
    font-size: 22px;
    text-align: center;
    color: black;
    background-color: #d7f301;
    padding: 10px;
    border-radius: 0px;
    border: 2px solid #d7f301;
    margin-bottom: 0px;
    width: 100%;
}

/* Estilo para as linhas do formulário */
.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: px;
    flex-wrap: nowrap; /* Manterá a estrutura em telas maiores até 992px */
}

/* Estilo das colunas e campos */
.form-group {
    flex: 1;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


/* Estilo dos rótulos */
label {
    padding: 10px;
    width: 100%;
    background-color: #7f00ff;
    font-size: 12px;
    color: #e0e0e0;
    margin-bottom: 0px;
}

/* Estilo para o ícone de informação */
.info-icon {
    display: inline-block; /* Para garantir que o ícone fique na mesma linha */
    vertical-align: initial; /* Alinha o ícone ao meio do texto */
    margin-left: 5px; /* Espaço entre o texto e o ícone */
    display: inline-block;
    background-image: "ideia";
    margin-left: 10px; /* Espaço entre a label e o ícone */
    cursor: pointer;
    color: #ffffff; /* Cor do ícone */
    font-weight: bold; /* Tamanho do ícone */
    position: relative; /* Para posicionar a tooltip */
}
icon {
    width: 20px; /* Defina a largura do ícone */
    height: 20px; /* Defina a altura do ícone */
}
/* Estilo para a tooltip */
.info-icon:hover::after {
    content: attr(title); /* Exibe o texto do atributo title */
    position: absolute;
    bottom: 30px; /* Posiciona a tooltip acima do ícone */
    left: 1rem;
    transform: translateX(-50%); /* Centraliza a tooltip */
    background-color: rgba(0, 0, 0, 0.9); /* Fundo branco com transparência */
    border: 1px solid #ccc; /* Borda da tooltip */
    padding: 8px;
    border-radius: 10px; /* Borda arredondada */
    white-space: nowrap; /* Impede que o texto quebre */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Sombra para dar destaque */
    z-index: 10; /* Garante que a tooltip fique acima de outros elementos */
}

/* Estilo dos campos de entrada */
.campo {
    padding: 5px;
    width: 100%;
    max-width: 100%;
    text-align: center;
    border: 0px solid #000;
    border-radius: 0px;
    font-size: 14px;
    background-color: #fff;
    color: black;
}

/* Estilo ao focar no campo */
.campo:focus {
    outline: none;
    border-color: #ffa500;
}

/* Estilo para campos desativados */
input[disabled] {
    background-color: #e0e0e0;
}

/* Media queries para telas menores */
@media (max-width: 992px) {
    .form-row {
        flex-wrap: wrap; /* Começará a quebrar linhas a partir de 992px */
    }

    .form-group {
        flex: 0 0 48%; /* Ajuste leve para que caibam dois campos lado a lado até 768px */
    }
}

@media (max-width: 768px) {
    .form-group {
        flex: 0 0 100%; /* Os campos ficam em uma única coluna em telas menores que 768px */
    }

    .section-header h1 {
        font-size: 18px;
        padding: 8px;
    }

    label {
        font-size: 12px;
        padding: 8px;
    }

    .campo {
        font-size: 12px;
    }
}

/* Estilo da imagem no rodapé */
.footer {
    background-color: #d7f301;
    text-align: center;
    padding: 0;
    position: relative;
}

.footer img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    border-color: #7f00ff;
}

/* Ajustes para o texto centralizado sobre a imagem */
.footer::after {
    content: 'Desenvolvido por Soma Prospecta®';
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
    font-size: 12px;
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 5px;
    width: 90%; /* Limita a largura do texto */
    text-align: center; /* Centraliza o texto */
}

/* Ocultar o texto em dispositivos móveis */
@media (max-width: 768px) {
    .footer::after {
        content: ''; /* Oculta o texto */
        display: none; /* Remove a exibição */
    }
}


